.tile {
  display: block;
  padding: 10px;
  background: #DDD;
  height: 200px;
  position: relative;
  color:white;
  background-size: cover;
  
}
.tile-content {
  font-size:300%;
  visibility: hidden;
}

a.tile {
  text-decoration: none !important;
 }

.tile:hover {
  font-size : 110%;
  color:white;
}

.tile:hover > .tile-content {
  visibility: initial;
}

.tile-container {
  padding:5px !important;
  text-align: center;
}

.tile-title {
  font-size:200%;
  word-wrap: initial;
}

.tile-color-1 {background-color:#31263E;}
.tile-color-2 {background-color:#680E4B;}
.tile-color-3 {background-color:#BC8034;}
.tile-color-4 {background-color:#5A0001;}
.tile-color-5 {background-color:#5A5A66;}
.tile-color-6 {background-color:#1F487E;}
.tile-color-7 {background-color:#33658A;}
.tile-color-8 {background-color:#F18805;}
.tile-color-9 {background-color:#885053;}

.tile p {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 10px;
    width: 100%;
    min-height: 100%;
}